<div class="right-div">
	

	  <%= form_tag(pages_blah_path, method: "post", class: "rails-button") do %>
	    <%= label_tag(:phone_number, "Enter phone number (xxx-xxx-xxxx)") %>
	    <%= text_field_tag(:phone_number) %>
	    <%= label_tag(:phone_message, "Rmindr yourself, yo") %>
	    <%= text_area_tag(:phone_message) %>
	    <%= submit_tag("Send Rmindr") %>
	  <% end %>

	  

	  <!-- use text_area_tag? or form tag? -->
</div>